/* App.css */
html, body {
  height: 100%;
  margin: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Đảm bảo chiều cao tối thiểu là chiều cao của viewport */
}

.main-content {
  flex: 1; /* Làm cho phần nội dung chính co giãn để chiếm không gian còn lại */
  padding: 20px; /* Khoảng cách bên trong */
  background-color: #f4f4f4; /* Màu nền cho nội dung chính */
}

footer {
  margin: 0;
}
