.chat-container {
  display: flex;
  height: 100vh; /* Full height */
  width: 80%; /* Limit width to 80% of the screen */
  margin: 0 auto; /* Center the chat container */
}

.user-selector {
  width: 30%;
  border-right: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column; /* Arrange buttons vertically */
}

.user-selector button {
  margin: 5px 0; /* Space between buttons */
  padding: 10px;
  text-align: center; /* Align text to the left */
  border: 1px solid #0f68c7;
  color: black;
  background-color: #fff;
}

.user-selector button.selected {
  background-color: #4c9ef5; /* Highlight color */
  color: white; /* Text color when selected */
}

.chat {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.messages-container {
  flex: 1;
  max-height: 400px;
  overflow-y: auto;
  padding: 10px;
  background-color: #fff;
}

.input-container {
  display: flex;
  padding: 10px;
  background-color: #f4f4f4;
}

.input-text {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.message {
  margin: 5px 0;
}

.own-message {
  text-align: right;
}

.other-message {
  text-align: left;
}

.message-time {
  font-size: 0.8em;
  color: #888;
}
